schema_version = 0
pkg_type = "custom"

name = "cmake"
version = "4.0.3-0"

[pkg]
supported_platforms = ["windows-x86_64"]
build_depends = ["ninja"]

[input]
sha256 = "8d3537b7b7732660ea247398f166be892fe6131d63cc291944b45b91279f3ffb"
source_version = "4.0.3"
tarball_root_dir = "cmake-4.0.3"

[rules]
default = [
    { env = { C_FLAGS = "-m64", CXX_FLAGS = "-m64" }, rule = "cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release" },
    "cmake --build build -j${cimple_parallelism}",
    { env = { DESTDIR = "${cimple_output_dir}" }, rule = "cmake --install build --prefix /" },
]

[binaries.cmake]
depends = []
