schema_version = 0
pkg_type = "custom"

name = "ninja"
version = "1.13.1-0"

[pkg]
supported_platforms = ["windows-x86_64"]
build_depends = ["googletest"]

[input]
sha256 = "f0055ad0369bf2e372955ba55128d000cfcc21777057806015b45e4accbebf23"
source_version = "1.13.1"
tarball_root_dir = "ninja-1.13.1"

[rules]
default = [
    { env = { C_FLAGS = "-m64", CXX_FLAGS = "-m64" }, rule = "cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release" },
    "cmake --build build -j${cimple_parallelism}",
    { env = { DESTDIR = "${cimple_output_dir}" }, rule = "cmake --install build --prefix /" }
]

[binaries.ninja]
depends = []
